#about {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #93C572 70%, #C8EBB1 30%);
    position: relative;
    overflow: hidden;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#aheader {
    font-size: 80px;
    text-decoration: underline;
}

#about-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

#about-content h2,
#about-content h3,
#about-content h4 {
    text-align: center;
    text-decoration: underline;
    margin-top: 25px;
}

#about-img {
    position: absolute;
    top: 2%;
    right: 5%;
    border: 2px solid black;
    width: 50px;
    height: 50px;
    padding-top: 10px;
    border-radius: 30px;
    cursor: pointer;
    color: black;
}

#about-img:hover {
    background-color: #3390ec;
    color: white;
    border: 1px solid white;
}