#host{
    font-family:"Poppin", sans-serif ;
    background-color:#2e3537;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 15px 15px 0;
  }
  
   .book-container {
      width: 90%;
      height: 90%;
      position: relative;
    }
    
    #checkbox-cover {
      display: none;
    }
    
    .cover, .backcover {
      background-color: #4173a5;
      width: 100%;
      height: 100%;
      border-radius: 0 15px 15px 0;
      box-shadow: 0 0 5px rgb(41, 41, 41);
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      transition-duration: 1s;
      perspective: 1500;
    }
    
    .cover {
      transform-origin: center left;
      z-index: 2;
    }
    
    .backcover {
      z-index: 1;
      transform-origin: center center;
      transform: rotateY(180deg);
    }
    
    .page {
      position: absolute;
      background-color: burlywood;
      width: 95%;
      height: 95%;
      border-radius: 0 15px 15px 0;
      margin-top: 10px;
      transform-origin: center center;
    }
    
    .page1 {
        display: flex;
        flex-direction: column;
      z-index: 1;
      transform: translateX(0%);
      
    }
    
    #checkbox-cover:checked ~ .book .cover {
      transform: rotateY(-180deg);
    }
    
    #checkbox-cover:checked ~ .book .page1 {
      transform: translate(50px)
    }
    

    #bookForm{
        position: relative;
        width: 100%;
        height: 100px;
    }

    #bookForm form {
      /* display: flex;
      flex-direction: column; */
      display: flex;
      flex-wrap: wrap;
     justify-content: center;
     text-align: flex;
     align-items: center;
    }
    #bookForm #doc{
      text-align: left;
      height: 150px;
      width: 100%;
      border-radius: 15px;
    }

    #bookForm #summarySub{
      width: 25%;
      margin-left: 40%;
      margin-top: 10px;
      border-radius: 5px;
    }

    #bookForm #doc::placeholder{
      text-align: center;
      font-size: 50px;
    }
    #backgroundImage{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: relative;
      z-index: 0;
      width:100%;
      height:100%;
    }
    

    #summary{
      position: relative;
      margin-top: 8%;
      height: 75%;
      padding: 50px
    }
      #homebutton{
        position: relative;
        height: 10%;
        width:10%;
      }